{{ if .Data.BoundTrigger.Why }}
<form method="post" action="/reviews/{{ .Data.ReviewID }}/triggers/{{ .Data.BoundTrigger.ID }}/edit" class="new">
{{ else }}
<form method="post" action="/reviews/{{ .Data.ReviewID }}/triggers" class="new">
{{ end }}
    <ul>
        {{ template "partials/triggers/_trigger-options.html" .Data }}
        <li>
            <label>
                Why this trigger applies to this incident:
                <textarea name="why" required>{{ .Data.BoundTrigger.Why }}</textarea>
            </label>
        </li>
    </ul>

    <button class="bind" type="submit">{{ if .Data.BoundTrigger.Why }}Save{{else}}Add{{end}}</button>
</form>
