<!doctype html>
<html lang="en">
<head>
    <title>Incident Reviewer</title>
    <meta charset="utf-8">
    <style>
        section, root-causes {
            border: 1px solid black;
            margin: 1em 0;
            padding: 0 1em 1em 1em;
        }
    </style>
    <script src="/assets/htmx-2.0.2.min.js"></script>
    <!--
    @techdebt(1): Make all responses, even errors, swap because I didn't want to figure out how to make errors work nicely.

    The below configuration lets all responses for HTMX to swap out the content,
    intended as a quick fix for "unknown errors" to at least display something.

    For how it works see: https://htmx.org/docs/#response-handling
    -->
    <meta name="htmx-config" content='{"responseHandling": [{"code":".*", "swap": true}]}'>
</head>
<body hx-boost="true">
    {{ .Partials.Body }}
</body>
</html>
