{{ define "review-fields" }}
<style>
    .list {
        text-decoration: none;
        width: 100%;
        padding-inline-start: 0;
    }
    .list>li{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
</style>
<ul class="list">
    <li>
        <label for="url">Report link:</label>
        <input type="url" id="url" name="url" value="{{ .URL }}" required>

    </li>
    <li>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ .Title }}" required>

    </li>
    <li>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ .Description }}</textarea>

    </li>
    <li>
        <label for="impact">Impact:</label>
        <textarea id="impact" name="impact" required>{{ .Impact }}</textarea>

    </li>
    <li>
        <label for="where">Where:</label>
        <textarea id="where" name="where" required>{{ .Where }}</textarea>

    </li>
    <li>
        <label for="reportProximalCause">
            Report <dfn title="The closest direct cause for the incident, often called the root cause">proximal cause</dfn>:
        </label>
        <textarea id="reportProximalCause" name="reportProximalCause" required>{{ .ReportProximalCause }}</textarea>

    </li>
    <li>
        <label for="reportTrigger">
            Report <dfn title="The change that lead to the proximal cause which lead to the incident">trigger</dfn>:
        </label>
        <textarea id="reportTrigger" name="reportTrigger" required>{{ .ReportTrigger }}</textarea>
    </li>
</ul>
{{ end }}
