{{ define "review-fields" }}
<ul>
    <li>
        <label>
            Report link:
            <input type="url" name="url" value="{{ .URL }}" required>
        </label>
    </li>
    <li>
        <label>
            Title:
            <input type="text" name="title" value="{{ .Title }}" required>
        </label>
    </li>
    <li>
        <label>
            Description:
            <textarea name="description" required>{{ .Description }}</textarea>
        </label>
    </li>
    <li>
        <label>
            Impact:
            <textarea name="impact" required>{{ .Impact }}</textarea>
        </label>
    </li>
    <li>
        <label>
            Where:
            <textarea name="where" required>{{ .Where }}</textarea>
        </label>
    </li>
    <li>
        <label>
            Report <dfn title="The closest direct cause for the incident, often called the root cause">proximal cause</dfn>:
            <textarea name="reportProximalCause" required>{{ .ReportProximalCause }}</textarea>
        </label>
    </li>
    <li>
        <label>
            Report <dfn title="The change that lead to the proximal cause which lead to the incident">trigger</dfn>:
            <textarea name="reportTrigger" required>{{ .ReportTrigger }}</textarea>
        </label>
    </li>
</ul>
{{ end }}
