<section class="new">
    <h1>Create new review</h1>

    {{ if .Data.New }}
        <p class="notice success">Successfully created review <a
                    href="/reviews/{{ .Data.New.Created.ID }}">{{ .Data.New.Created.Title }}</a>!</p>
    {{ end }}

    {{ child "new-review" }}
</section>


{{ if .Data.Reviews }}
    <section class="listing">
        <h1>Existing reviews</h1>

        <ul>
            {{ range .Data.Reviews }}
                <li><a href="/reviews/{{ .ID }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </section>
{{ end }}
